body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.product {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 160px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
}

.popup.show {
    opacity: 1;
}
